.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.row .col:nth-child(1) img{
    height: 100px;
    border-radius: 50%;
}

.card{
    border: none;
    padding: 36px 42px;
    border-radius: 32px;
    margin: 0.5rem 0;
    background-color: #ffffff;
    /*height: 280px;*/
}

.col{
    padding: 0 0.5rem;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.h-2{
    height: 576px;
}
.h-1{
    height: 280px;
}

